body {
    font-family: system-ui, sans-serif;
    background-image: url("https://raw.githubusercontent.com/InventivetalentDev/minecraft-assets/refs/heads/1.21.5/assets/minecraft/textures/block/dirt.png");
    color: white;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
  }